#quote{
    margin-top:50px;
    margin: 0 auto;
    text-align:center;
    color:rgba(240, 240, 240,0.8);
    letter-spacing: 3px;
    position:absolute;
    left:38%;
    bottom:80px;
}

#quote span:first-child{
    margin-top:20px;
    font-size:1.5em;
    font-weight:lighter;
}
#quote span:last-child{
    margin-top:20px;
    font-size:1.2em;
    font-weight:lighter;
}