@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: beige;
}
h1{
    color:cornflowerblue;
}

.clicked{
    color:tomato;
}
.sexy-font{
    font-family:Happiness-Sans-Title
}