.moviePoster{
    margin:50px auto;
    padding:30px;
    display:flex;
    text-align:center;
    border:none;
    border-radius:20px;
    box-shadow:0 0 30px rgba(0,0,0,0.3);
    width:60%;
    height:80vh;
}
.moviePoster div{
    width:50%;
    margin-top:50px;
    padding:30px;
}
.moviePoster div:first-child img{
    margin-top:50px;
    width:60%;
}

.largeSection1{
    border-right:1px solid rgba(0,0,0,0.2);
}
.largeSection2{
    border-left:1px solid rgba(0,0,0,0.2);
}