

#todo-form input{
    background-color:transparent;
    border:none;
    border-bottom:1px solid white;
    color:white;
    width:40%;
    height:25px;
    text-align:center;
    margin-right:1vw;
    font-size:1.2em;
    font-weight:600;
    outline:none;
}
#todo-form input:focus{
    outline:none;
}

#todo-list li{
    list-style-type: none;
    color:white;
    margin-top:15px;
    font-size:1.2em;
}